doctype html
html(lang="en")
  head 
    include head.pug
    title Login
  body 
    form(action="/login", method="post") 
      input#usr(type="text", name="usr")
      input#psw(type="password", name="psw")
      input(type="submit", value="Login")